.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  color: #ccc;
}

.header {
  font-size: 2rem;
}

.sub {
  font-size: 1.5rem;
}
